[submodule "deps/sedna"]
	path = deps/sedna
	url = https://github.com/fnuecke/sedna.git
[submodule "deps/ceres"]
	path = deps/ceres
	url = https://github.com/fnuecke/ceres.git
[submodule "deps/buildroot"]
	path = deps/buildroot
	url = https://github.com/fnuecke/buildroot.git
